<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to My Blog App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; margin-top: 40px;">
    <!-- ✅ Improved Button Styling -->
    <ion-button shape="round" size="large" color="primary" routerLink="/blog-list">
      Go to Blog List
    </ion-button>
  </div>
</ion-content>
